POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=qr_auth
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

DEBUG=True
PROJECT_NAME=QR Auth Backend